USE [master]
GO
/****** Object:  Database [NETtest]    Script Date: 2018/5/31/星期四 18:48:14 孙伟伟 ******/
CREATE DATABASE [NETtest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NETtest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NETtest.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NETtest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NETtest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NETtest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NETtest]
GO
/****** Object:  Table [dbo].[Management_log]    Script Date: 2018/5/31/星期四 18:48:14 孙伟伟 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Management_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[user_name] [nvarchar](50) NULL,
	[sign] [nvarchar](50) NULL,
	[operate_type] [nvarchar](50) NULL,
	[user_ip] [nvarchar](50) NULL,
	[login_time] [datetime] NULL CONSTRAINT [DF_Management_log_login_time]  DEFAULT (getdate()),
 CONSTRAINT [PK_Management log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Manager_management]    Script Date: 2018/5/31/星期四 18:48:14 孙伟伟 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager_management](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[user_key] [nvarchar](50) NULL,
	[user_name] [nvarchar](50) NULL,
	[user_role] [nvarchar](50) NULL,
	[real_name] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[image] [image] NULL,
	[type] [nvarchar](50) NULL,
	[add_time] [datetime] NULL CONSTRAINT [DF_Manager_management_add_time]  DEFAULT (getdate()),
 CONSTRAINT [PK_Administrator management] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Manager_role]    Script Date: 2018/5/31/星期四 18:48:14 孙伟伟 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager_role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_role] [nvarchar](255) NULL,
	[user_id] [int] NULL,
	[user_name] [nchar](255) NULL,
	[user_permission] [nvarchar](255) NULL,
 CONSTRAINT [PK_Manager_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Manager_role_permission]    Script Date: 2018/5/31/星期四 18:48:14 孙伟伟 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager_role_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_role] [nvarchar](255) NULL,
	[user_id] [int] NULL,
	[user_name] [nvarchar](255) NULL,
	[user_permission] [nvarchar](255) NULL,
 CONSTRAINT [PK_Manager_role_permission] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
